<div class="container">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    
      <div class="feature col">
        <div class="feature-icon bg-gradient">
          <img class="d-block mx-auto mb-4" src= <%= authorBook.cover %> alt="" width="172" height="257">
        </div>
        <h2><%= authorBook.title%></h2>
        <p><%= authorBook.description %></p>
        <a href="/books/Detail/<%= authorBook.id %>" class="icon-link">
          Detail
        </a>
      </div>
</div>
</div>
  
